/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@font-face {
    font-family: "Verdana";
    src: url(../fonts/verdana.ttf);
}

body {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-family: "Verdana";
}
[data-kt-scrolltop="on"] .scrolltop {
    opacity: 1;
}
.scrolltop {
    background-color: #2a78cf;
}
/* =======================header========================== */
.header-fixed.toolbar-fixed .header {
    border-bottom: 1px solid #e4e6ef;
}
.aside.aside-dark .aside-logo,
.aside.aside-dark {
    background-color: #fff;
}
.aside-dark .menu .menu-item .menu-link .menu-title {
    color: #000;
}
.aside-dark .menu .menu-item.show > .menu-link {
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.aside-dark
    .menu
    .menu-item.show
    > .menu-link
    .menu-icon
    .svg-icon
    svg
    [fill]:not(.permanent):not(g) {
    fill: #fff;
}
.aside-dark
    .menu
    .menu-item
    .menu-link
    .menu-icon
    .svg-icon
    svg
    [fill]:not(.permanent):not(g),
.aside-dark .menu .menu-item .menu-link .menu-title {
    fill: #a9a9a9;
}
.aside-dark
    .menu
    .menu-item.hover:not(.here)
    > .menu-link:not(.disabled):not(.active):not(.here),
.aside-dark
    .menu
    .menu-item:not(.here)
    .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.aside-dark
    .menu
    .menu-item.hover:not(.here)
    > .menu-link:not(.disabled):not(.active):not(.here)
    .menu-bullet
    .bullet,
.aside-dark
    .menu
    .menu-item:not(.here)
    .menu-link:hover:not(.disabled):not(.active):not(.here)
    .menu-bullet
    .bullet {
    background-color: #fff;
}
.aside-dark
    .menu
    .menu-item.hover:not(.here)
    > .menu-link:not(.disabled):not(.active):not(.here)
    .menu-icon
    .svg-icon
    svg
    [fill]:not(.permanent):not(g),
.aside-dark
    .menu
    .menu-item:not(.here)
    .menu-link:hover:not(.disabled):not(.active):not(.here)
    .menu-icon
    .svg-icon
    svg
    [fill]:not(.permanent):not(g) {
    fill: #fff;
}
.aside-dark .menu .menu-item.show > .menu-link .menu-bullet .bullet {
    background-color: #fff;
}
.aside.aside-dark .separator {
    border-bottom-color: #2a78cf38;
}
.card .card-header {
    min-height: 50px;
    border-radius: 0;
}

/* admin login */
.pagination .page-item.active .page-link {
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.pagination .page-item .page-link {
    border-radius: 5px;
}
.pagination .page-item .page-link:hover,
.pagination .page-item:hover .page-link i {
    background-color: #2a78cf;
    border-radius: 5px;
    color: #fff;
}
.svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #2a78cf;
}
.delete-icon .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #ff0000;
}
.login-form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-form .link-link {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.login-form .link-link .for {
    font-size: 15px;
    font-weight: 600;
    color: #0d5ca1;
}
.login-form .card {
    width: 500px;
    /* border: 1px solid #e4e6ef !important; */
}
.login-form .card .card-header {
    border-bottom: 0;
}
.login-form .card .card-header {
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.main-panel .card {
    box-shadow: none;
}

.co-border {
    /* border: 1px solid #e4e6ef !important; */
}

.main-panel .listing-page .table-data table tr th,
.main-panel .listing-page .table-data table tr td {
    border: 1px solid #e4e6ef;
    padding: 0.4rem !important;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.main-panel .listing-page .table-data table tr th {
    color: #fff;
}

.main-panel .listing-page table tbody tr:last-child {
    border: 1px solid #e4e6ef !important;
}
.main-panel {
    /* height: 100vh; */
    padding: 0px 20px;
    margin-bottom: 100px;
}
.form-control {
    /* background-color: #f5f8fa;
    border-color: #f5f8fa; */
    appearance: auto;
    color: #181c32;
    border-radius: 5px;
    transition: color 0.2s ease, background-color 0.2s ease;
    padding: 5px;
}
.form-check.form-check-solid .form-check-input {
    border: 1px solid #e4e6ef;
    background-color: #ffffff;
    border-radius: 5px;
}
.tox .tox-edit-area__iframe {
    background-color: #f5f8fa !important;
}
.galleryimg {
    position: relative;
}
.galleryimg a.delete {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
}
.galleryimg a.delete i {
    font-size: 16px;
}
.galleryimg .mained {
    width: 150px;
    height: 150px;
    background-color: #f5f8fa !important;
}
.galleryimg .mained img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.btn.btn-info {
    color: #7e8299;
    border-color: #e4e6ef;
    background-color: #e4e6ef !important;
    transition: color 0.2s ease, background-color 0.2s ease;
}
.form-group input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    border: 0;
    background-color: #eff2f5;
    display: inline-block;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.form-group input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
    background-color: #009ef7;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.submit-btn {
    color: #fff;
    font-size: 14px;
    /* border-color: #2a78cf;
    background-color: #2a78cf; */
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.submit-btn:hover {
    background-image: linear-gradient(
        to right,
        #0e66b2,
        black 400px,
        #0e66b2 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    color: #fff;
}
.reject-btn {
    color: #fff;
    font-size: 14px;
    /* border-color: #2a78cf;
    background-color: #2a78cf; */
    background-image: linear-gradient(
        to right,
        black,
        #ff0000 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.reject-btn:hover {
    background-image: linear-gradient(
        to right,
        #ff0000,
        black 400px,
        #ff0000 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    color: #fff;
}
.approve-btn {
    color: #fff;
    font-size: 14px;
    /* border-color: #2a78cf;
    background-color: #2a78cf; */
    background-image: linear-gradient(
        to right,
        black,
        #008000 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.approve-btn:hover {
    background-image: linear-gradient(
        to right,
        #008000,
        black 400px,
        #008000 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.add-btn {
    color: #fff;
    font-size: 14px;
    /* border-color: #2a78cf;
    background-color: #2a78cf;
    border-radius: 0;
    border: 1px solid #2a78cf !important; */
    min-width: 100px;
    border: 1px solid #2a78cf !important;
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 5px !important;
}
.add-btn i {
    color: #fff;
}
.add-btn.active {
    border: 1px solid #2a78cf !important;
    color: #2a78cf;
    background-color: #fff;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        #0e65b200 400px,
        rgba(0, 0, 0, 0) 800px
    );
}
.add-btn:hover {
    background-color: #4777ab;
    color: #fff;
}
.delete-btn {
    font-size: 14px;
    border-radius: 0;
    border-color: #3d4d60;
    color: #fff;
    background-color: #3d4d60;
}
.delete-btn:hover {
    color: #fff;
    background-color: #758ba5;
}
.show-drop {
    width: 75px;
    display: inline-block;
    line-height: 1.5;
    border-radius: 1px;
    padding: 0.375rem 0.75rem;
    color: #4f5467;
    background-color: #fff;
    border: 1px solid #e9ecef;
    margin: 0 5px;
}
.list-label-btn {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background-color: #6d6d6d;
    color: #fff;
}
.list-label-btn:hover {
    color: #fff;
    background-color: #363434;
}
.list-label-btn2 {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background-color: #2a78cf;
    color: #fff;
}
.list-label-btn2:hover {
    background-color: #155399;
    color: #fff;
}
.back-btn {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    background-color: #6d6d6d;
    color: #fff;
}
.back-btn:hover {
    color: #fff;
    background-color: #363434;
}
.card .card-header .card-title,
.page-title h3 {
    color: #2a78cf !important;
}
.page-title h3 {
    margin-bottom: 20px;
    margin-top: 8px;
    font-size: 22px;
    line-height: 22px;
}
.form-check.form-check-custom {
    justify-content: center;
}
.icon-text {
    position: absolute;
    top: 21px;
    right: 9px;
    background: #2a78cf;
    padding: 0.75rem 1rem;
    color: #fff;
    border: 1px solid #2a78cf;
    display: inline-block;
}
.icon-text .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #fff;
}
.dashboard-admin .card {
    box-shadow: 0 0px 12px 0 rgb(0 0 0 / 14%);
    background-color: #ffffff;
    margin-bottom: 1.875rem;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
.dashboard-admin .card:hover {
    box-shadow: 0 14px 24px rgb(62 57 107 / 20%);
    transform: translateY(-4px) scale(1.02);
}
.dashboard-admin .card .media-body {
    flex: 1;
}
.dashboard-admin .card .media-body h5 {
    font-size: 18px;
    font-weight: 600;
    color: #2a78cf;
}
.dashboard-admin .card .media {
    align-items: center;
}
.dashboard-admin .card .media i {
    font-size: 30px;
    color: #a9a9a9;
}
.dashboard-admin .card .media-body h3 {
    font-size: 25px;
    font-weight: normal;
}

.cls-1 {
    font-size: 40px;
    fill: #000;
    text-anchor: middle;
    font-weight: 700;
    cursor: pointer;
}

.clapping {
    position: relative;
    filter: opacity(0.2) drop-shadow(0px 0px 0px #434343ff)
        drop-shadow(1px 1px 0px #9999994d) drop-shadow(-1px 1px 0px #99999957)
        drop-shadow(1px -1px 0px #99999941) drop-shadow(-1px -1px 0px #99999938);
    cursor: pointer;
    -webkit-filter: opacity(0.2) drop-shadow(0px 0px 0px #434343ff)
        drop-shadow(1px 1px 0px #9999994d) drop-shadow(-1px 1px 0px #99999957)
        drop-shadow(1px -1px 0px #99999941) drop-shadow(-1px -1px 0px #99999938);
    display: none;
}

.clapping::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: red;
    z-index: 999;
}
.text-primary {
    color: #3066b0 !important;
}

.img-for-teeth {
    /* filter: opacity(0.5) drop-shadow(0px 0px 0px rgb(240, 210, 128))
        drop-shadow(0px 0px 0px #fff) drop-shadow(0px 0px 0px #fff)
        drop-shadow(0px 0px 0px #fff) drop-shadow(0px 0px 0px #fff);
    cursor: pointer;

    -webkit-backdrop-filter: opacity(0.5)
        drop-shadow(0px 0px 0px rgb(240, 210, 128))
        drop-shadow(0px 0px 0px #fff) drop-shadow(0px 0px 0px #fff)
        drop-shadow(0px 0px 0px #fff) drop-shadow(0px 0px 0px #fff);

    backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px rgb(240, 210, 128))
        drop-shadow(0px 0px 0px #fff) drop-shadow(0px 0px 0px #fff)
        drop-shadow(0px 0px 0px #fff) drop-shadow(0px 0px 0px #fff); */
}

.img-for-teeth.add-or-fix {
    /* filter: opacity(0.5) drop-shadow(0px 0px 0px #02b702ff)
        drop-shadow(1px 1px 0px #79b837) drop-shadow(-1px 1px 0px #79b837)
        drop-shadow(1px -1px 0px #79b837) drop-shadow(-1px -1px 0px #79b837);
    cursor: pointer;
    -webkit-backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px #02b702ff)
        drop-shadow(1px 1px 0px #79b837) drop-shadow(-1px 1px 0px #79b837)
        drop-shadow(1px -1px 0px #79b837) drop-shadow(-1px -1px 0px #79b837);
    backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px #02b702ff)
        drop-shadow(1px 1px 0px #79b837) drop-shadow(-1px 1px 0px #79b837)
        drop-shadow(1px -1px 0px #79b837) drop-shadow(-1px -1px 0px #79b837);
    -webkit-filter: opacity(0.5) drop-shadow(0px 0px 0px #02b702ff); */
}
.img-for-teeth.will-extract-on-deliver {
    /* filter: opacity(0.5) drop-shadow(0px 0px 0px #ea1e29)
        drop-shadow(1px 1px 0px #f93b3d) drop-shadow(-1px 1px 0px #f93b3d)
        drop-shadow(1px -1px 0px #f93b3d) drop-shadow(-1px -1px 0px #f93b3d);
    cursor: pointer;

    backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px #ea1e29)
        drop-shadow(1px 1px 0px #f93b3d) drop-shadow(-1px 1px 0px #f93b3d)
        drop-shadow(1px -1px 0px #f93b3d) drop-shadow(-1px -1px 0px #f93b3d);

    -webkit-backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px #ea1e29)
        drop-shadow(1px 1px 0px #f93b3d) drop-shadow(-1px 1px 0px #f93b3d)
        drop-shadow(1px -1px 0px #f93b3d) drop-shadow(-1px -1px 0px #f93b3d); */
}

.img-for-teeth.missing {
    /* filter: opacity(0.9) drop-shadow(0px 0px 0px #e5d4a7ff)
        drop-shadow(1px 1px 0px rgba(255, 255, 255, 1))
        drop-shadow(-1px 1px 0px rgba(239, 239, 239, 1));
    cursor: pointer;
    -webkit-filter: opacity(0.5) drop-shadow(0px 0px 0px #e5d4a7ff);
    -webkit-filter: opacity(0.9) drop-shadow(0px 0px 0px #e5d4a7ff)
        drop-shadow(1px 1px 0px rgba(255, 255, 255, 1))
        drop-shadow(-1px 1px 0px rgba(239, 239, 239, 1));

    backdrop-filter: opacity(0.9) drop-shadow(0px 0px 0px #e5d4a7ff)
        drop-shadow(1px 1px 0px rgba(255, 255, 255, 1))
        drop-shadow(-1px 1px 0px rgba(239, 239, 239, 1));

    -webkit-backdrop-filter: opacity(0.9) drop-shadow(0px 0px 0px #e5d4a7ff)
        drop-shadow(1px 1px 0px rgba(255, 255, 255, 1))
        drop-shadow(-1px 1px 0px rgba(239, 239, 239, 1)); */
}

.img-for-teeth.in-mouth {
    /*filter: opacity(0.5) drop-shadow(0px 0px 0px rgb(228, 170, 10))
        drop-shadow(1px 1px 0px #c9b18a) drop-shadow(-1px 1px 0px #c9b18a)
        drop-shadow(1px -1px 0px #c9b18a) drop-shadow(-1px -1px 0px #c9b18a);
    cursor: pointer;

    backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px rgb(228, 170, 10))
        drop-shadow(1px 1px 0px #c9b18a) drop-shadow(-1px 1px 0px #c9b18a)
        drop-shadow(1px -1px 0px #c9b18a) drop-shadow(-1px -1px 0px #c9b18a);

    -webkit-backdrop-filter: opacity(0.5)
        drop-shadow(0px 0px 0px rgb(228, 170, 10))
        drop-shadow(1px 1px 0px #c9b18a) drop-shadow(-1px 1px 0px #c9b18a)
        drop-shadow(1px -1px 0px #c9b18a) drop-shadow(-1px -1px 0px #c9b18a);*/
}

.img-for-teeth.calps {
    filter: opacity(0.5) drop-shadow(0px 0px 0px #434343ff)
        drop-shadow(1px 1px 0px #999999) drop-shadow(-1px 1px 0px #999999)
        drop-shadow(1px -1px 0px #999999) drop-shadow(-1px -1px 0px #999999);
    cursor: pointer;

    backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px #434343ff)
        drop-shadow(1px 1px 0px #999999) drop-shadow(-1px 1px 0px #999999)
        drop-shadow(1px -1px 0px #999999) drop-shadow(-1px -1px 0px #999999);

    -webkit-backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px #434343ff)
        drop-shadow(1px 1px 0px #999999) drop-shadow(-1px 1px 0px #999999)
        drop-shadow(1px -1px 0px #999999) drop-shadow(-1px -1px 0px #999999);
}

.img-for-teeth.ben-extracted {
    /* filter: opacity(0.5) drop-shadow(0px 0px 0px #434343ff)
        drop-shadow(1px 1px 0px #999999) drop-shadow(-1px 1px 0px #999999)
        drop-shadow(1px -1px 0px #999999) drop-shadow(-1px -1px 0px #999999);
    cursor: pointer;
    -webkit-filter: opacity(0.5) drop-shadow(0px 0px 0px #434343ff);

    backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px #434343ff)
        drop-shadow(1px 1px 0px #999999) drop-shadow(-1px 1px 0px #999999)
        drop-shadow(1px -1px 0px #999999) drop-shadow(-1px -1px 0px #999999);

    -webkit-backdrop-filter: opacity(0.5) drop-shadow(0px 0px 0px #434343ff)
        drop-shadow(1px 1px 0px #999999) drop-shadow(-1px 1px 0px #999999)
        drop-shadow(1px -1px 0px #999999) drop-shadow(-1px -1px 0px #999999); */
}

.inner-label.active {
    box-shadow: 2px 1px 4px rgb(87, 87, 87) !important;
    transition: 0.2s ease-in all;
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -ms-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transform: scale(1.1);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.teeths-wrapper.second-row .inner-label:hover {
    opacity: 0.8;
    box-shadow: 2px 1px 4px rgb(87, 87, 87) !important;
    transition: 0.2s ease-in all;
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -ms-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
}
.teeths-wrapper.second-row .inner-label {
    text-align: center;
    cursor: pointer;
    height: fit-content;
    font-size: 13px;
    line-height: normal;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border: 3px solid rgba(0, 0, 0, 0.08);
    text-transform: capitalize;
    transition: 0.2s ease-in all;
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -ms-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    position: relative;
}

.error-tooltip {
    margin: 0px auto;
    height: 30px;
    width: 100%;
    background-color: #b6d7a8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.error-tooltip::after {
    border-left: 21px solid transparent;
    border-bottom: 21px solid #b6d7a8;
    top: -7px;
    content: "";
    z-index: 0;
    position: absolute;
    left: 20px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
}

.error-tooltip .error-icon img {
    height: 22px;
    width: 22px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.inner-label.te-in-month {
    background: radial-gradient(
        circle,
        rgb(235 227 207) 10%,
        rgb(220 211 191) 55%,
        rgb(234 226 206) 100%
    );
}
.inner-label.missing-te {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(239, 239, 239, 1) 100%,
        rgba(255, 255, 255, 1) 100%
    );
}
.inner-label.ex-dekivery {
    background: radial-gradient(
        circle,
        #ee0202 0%,
        rgba(250, 3, 3, 1) 0%,
        rgba(192, 2, 2, 1) 100%
    );
}
.inner-label.ben-extracted {
    background: radial-gradient(
        circle,
        rgba(179, 179, 179, 1) 0%,
        rgba(237, 237, 237, 1) 0%,
        rgba(179, 179, 179, 1) 100%
    );
}
.inner-label.fix-add {
    background: radial-gradient(
        circle,
        rgba(4, 237, 4, 1) 0%,
        rgba(194, 245, 194, 1) 100%,
        rgba(4, 237, 4, 1) 100%
    );
}
.inner-label.clasps {
    background: radial-gradient(
        circle,
        rgba(244, 163, 195, 1) 0%,
        rgba(255, 111, 165, 1) 100%,
        rgba(244, 163, 195, 1) 100%
    );
}

.teeth-wrapper .teeth-svg {
    /* background-color: #f5f5f5; */
    height: 210px;
    display: block;
    padding: 10px;
}

/* .teeth-wrapper .teeth-text h2 {
    color: #aeaeae;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -50px;
} */

.teeth-wrapper .teeth-text .add-btn {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(239, 239, 239, 1) 100%,
        rgba(255, 255, 255, 1) 100%
    );
    color: #181c32;
    border: 3px solid rgba(0, 0, 0, 0.08) !important;
    position: relative;
    top: -40px;
    font-size: 12px;
}

table {
    table-layout: auto;
}

tr,
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.value-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0px;
    gap: 10px;
}

.value-name span {
    padding: 15px 40px;
    font-size: 14px;
    color: #000;
    display: block;
}

.badge:empty {
    display: inline-block;
}

/*  breadcrumb*/

.c-beadcrumb .breadcrumb .breadcrumb-item {
    color: #959595;
    padding: 10px 0px;
    font-weight: 600;
}
.c-beadcrumb .breadcrumb .breadcrumb-item a {
    font-weight: 600;
    color: #959595;
}
.c-beadcrumb .breadcrumb .breadcrumb-item.active {
    color: #2a78cf !important;
    padding-left: 5px;
}

/* custome navbar */

.main-panel .c-nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid #e4e6ef;
    padding-bottom: 20px;
}

.main-panel .c-nav-tab li {
    list-style: none;
}

.main-panel .c-nav-tab li .add-btn {
    padding: 5px !important;
    background-color: #fff;
    background-image: none;
    color: #2a78cf;
}

.main-panel .c-nav-tab li .add-btn.active,
.main-panel .c-nav-tab li .add-btn:hover {
    background-color: unset;
    color: #fff;
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-size: 800px 100%;
}

/* sorting */
a.upersort {
    position: relative;
    display: inline-block;
    color: rgb(58, 22, 22);
}

/* a.upersort:after {
    content: "\f0dc";
    font-family: "Font Awesome 5 pro";
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 0;
    left: 105%;
} */

.table > thead {
    background-image: linear-gradient(
        to right,
        #1b4b75,
        #0e66b2 400px,
        #1b4b75 2500px
    );
    background-repeat: no-repeat;
}
.table > thead tr th span.text-muted {
    color: #fff !important;
}

.main-panel .left-side-check-wrapper ul {
    padding: 0px;
    margin-top: 30px;
}
.main-panel .left-side-check-wrapper ul li {
    list-style: none;
    margin-bottom: 20px;
}

.modal.fade.show {
    background-color: #00000042 !important;
    background: #00000042 !important;
}

.c-label-wrapper {
    margin-top: 20px;
}

.c-label-wrapper label.inner-label {
    text-align: center;
    font-size: 13px;
    padding: 2px;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    text-transform: capitalize;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px 0px 0px;
}
.c-label-wrapper #extractions_option input {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.c-label-wrapper #extractions_option .check-d-requird ul li {
    list-style: none;
    margin-top: 10px;
}

#extractions_option .teeth-ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 0px;
    flex-wrap: wrap;
}

#extractions_option .teeth-ul .teeth-li {
    list-style: none;
}

.c-label-wrapper #extractions_option {
    border: 1px solid #e4e6ef;
    padding: 10px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    height: 100%;
    -o-border-radius: 5px;
}

.subtitle-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.card-title {
    color: #9899ac !important;
    margin: 0px 0px 20px 0px;
    text-align: center;
}
.card-mid {
    margin: 20px 0px;
}
.card-mid ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px;
    align-items: flex-start;
}

.subtitle-wrapper .subtitle-search-box {
    display: inline-block;
}

.cls-1.teeth_uppper.img-for-teeth,
.cls-1.teeth_lower.img-for-teeth {
    filter: unset;
}

/* actio button */

.btn-icon i {
    color: #9899ac;
    font-size: 14px;
}

.btn-icon:hover i.fa-key {
    color: yellowgreen;
}

.delete-icon:hover i {
    color: #ff0000;
}

.edit-icon:hover i {
    color: #2a78cf;
}

.custome-serce-box {
    display: flex;
    align-items: center;
}

.custome-serce-box input {
    font-size: 14px;
    color: #9899ac !important;
}

.custome-serce-box .search-btn {
    margin-left: -25px;
    padding-left: 5px;
    background-color: transparent;
}

.aside-dark .hover-scroll-overlay-y {
    --scrollbar-space: 0px;
}

.hover-scroll-overlay-y::-webkit-scrollbar {
    width: 0px;
}

.c-side-menu .menu-item .menu-link {
    padding-left: 50px !important;
}
.c-side-menu .menu-item .menu-link .menu-bullet {
    position: relative;
}
.c-side-menu .menu-item .menu-link .menu-bullet:after {
    height: 100%;
    width: auto;
    top: 0px;
    left: 0px;
    content: "\f30b";
    font-family: "Font Awesome 5 pro";
}
.c-side-menu .menu-item .menu-link .menu-bullet span {
    opacity: 0;
}

/*====================================== footer========================================================== */
.footer {
    position: fixed;
    margin: 20px 0px 0px 0px !important;
    width: 100%;
    bottom: 0px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #e4e6ef;
    z-index: 99;
}

.selectize-control {
    border: none !important;
}

.add-case-listing .add-case-heder-ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: start;
}

.add-case-listing .add-case-heder-ul span {
    display: inline-block;
    width: 50%;
}

.add-case-listing .add-case-heder-ul span.pan-value {
    /*background-color: #2a78cf;*/
    width: auto;
    padding: 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /*color: #fff;*/
}

.add-case-listing .add-case-heder-ul li {
    list-style: none;
    height: 28px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0px;
    gap: 20px;
}

/* .add-case-listing .add-case-heder-ul li .selectize-control{
    width: 100%;
} */

.add-case-heder-ul.borded-li li {
    border: 1px solid #d0d0d0;
    padding: 0px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.add-case-heder-ul.borded-li li .selectize-input {
    border: 0px;
    box-shadow: none;
    height: 100%;
}

.add-case-heder-ul.borded-li li select {
    border: 0px;
}
.add-case-listing .add-case-heder-ul.borded-li li select:focus {
    outline: none;
}

.add-case-bottom {
    border: 1px solid #d0d0d0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
}

.add-case-bottom .toast-img {
    height: 25px;
}

.add-case-listing li i {
    font-size: 35px;
}

.add-case-listing .add-case-heder-ul li a {
    height: 30px;
    width: auto;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #d0d0d0; */
    /* overflow: hidden; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #000;
    transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    /* color: #fff; */
    /* font-size: 14px;
    background-image: linear-gradient( to right, black, #0e66b2 400px, black 800px );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 5px; */
}
.rush-a {
    position: relative;
    z-index: 1;
}
.rush-a::before {
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    z-index: -1;
}

.header-flex .selectize-input {
    padding: 0px;
}

/* .add-case-listing .add-case-heder-ul li a.bill-icon:hover i {
    color: #009ef7;
    transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
}
.add-case-listing .add-case-heder-ul li a.msg-icon:hover i {
    color: yellowgreen;
    transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
}
.add-case-listing .add-case-heder-ul li a.pic-icon:hover i {
    color: orange;
    transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
} */

.add-case-bottom i {
    font-size: 25px;
    color: orange;
}

.add-case-bottom.active {
    background-color: rgb(250, 238, 179);
}
.add-case-bottom.danger {
    background-color: #f7b9ab;
}

.second-row .form-control span {
    word-break: break-all;
    white-space: normal;
    font-size: 10px;
}

.selectize-control {
    width: 100%;
    height: 50%;
}

.header-flex .left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-flex .left-header .selectize-control {
    width: 50%;
}

.header-flex .com .list-unstyled li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-flex .com .list-unstyled li span:first-child {
    min-width: 100px;
}

.header-flex .left-header .com {
    flex: 1 1 auto;
}

.slip-view-wrapper .header-flex .com .list-unstyled li span:first-child {
    min-width: 5vw;
    padding-right: 20px;
}

.slip-view-wrapper .header-flex .left-header .com {
    flex: unset;
}

.slip-view-wrapper .header-flex .left-header,
.slip-view-wrapper .header-flex .right-header {
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
    margin: 0px;
    padding-top: 25px;
}

.slip-view-wrapper .header-flex .com .list-unstyled li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 0.05vw solid #eff2f5;
}
.slip-view-wrapper hr {
    background: #e0e3e6;
}

.slip-view-wrapper .view-slip-mid-row-line li.view-slip-mid-title {
    min-width: 6vw;
}

.slip-view-wrapper .view-slip-mid-row-line li.view-slip-left-value,
.slip-view-wrapper .view-slip-mid-row-line li.view-slip-right-value {
    border-bottom: 1px solid #eff2f5;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 10vw;
}

.slip-view-wrapper .teeth-wrapper .teeth-svg {
    height: auto;
}

.add-Case-model .qty-input {
    border: 1px solid #d0d0d0;
    padding: 4px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 3px;
    height: 28px;
}
.add-Case-model input[type="number"]::-webkit-outer-spin-button,
.add-Case-model input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-Case-model .qty-input:focus {
    outline: none;
}

.add-Case-model .selectize-input {
    height: 28px;
    padding: 4px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.add-Case-model .add-btn {
    height: 28px;
}

/* custome impressions dropdown */

.impressions-dropdown {
    position: relative;
}

.impressions-dropdown .list-input {
    width: 100%;
    border: 1px solid #d0d0d0;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 28px;
}
.impressions-dropdown .list-input:focus {
    outline: none;
}

.cancel-btn {
    background: radial-gradient(
        circle,
        #7d0505 0%,
        rgb(197 14 14) 0%,
        rgb(138 34 34) 100%
    );
}

#submit_div a {
    padding: 5px !important;
}
.impressions-dropdown #lower_impression_dropdown,
#upper_impression_dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    z-index: 2;
}

.impressions-dropdown.open {
    display: block !important;
}

.impressions-dropdown .low_quantity {
    width: 40px;
    height: 100% !important;
    font-size: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    background-color: #e8f0fe;
    text-align: center;
}

.impressions-dropdown .low_quantity::placeholder {
    color: #000;
}

.impressions-dropdown .low_quantity:focus {
    outline: none;
}

.impressions-dropdown .dropdown-list {
    padding: 5px 5px 0px 5px !important;
}

.impressions-dropdown .dropdown-list ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
    /* color: #fff;         */
}

.impressions-dropdown .dropdown-list ul li .check-box-wrapper-left {
    /* border: 1px solid rgba(0, 0, 0, 0.603); */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    overflow: hidden;
    color: #000;
    /* background-image: linear-gradient( to right, black, #0e66b2 400px, black 800px );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat; */
    min-width: 100%;
}

.low_list.dropdown-list .c-box-qty-right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 18%;
}

.low_list.dropdown-list .c-box-qty-right .edit-button {
    display: inline-block;
    height: 25px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0e66b2; */
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.603);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px !important;
    padding: 5px;
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.low_list.dropdown-list .c-box-qty-right .edit-button i {
    font-size: 15px !important;
    color: #fff;
    padding-left: 4px;
}

.impressions-dropdown .dropdown-list ul li:hover .check-box-wrapper-left {
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.impressions-dropdown
    .dropdown-list
    ul
    li
    input[type="number"]::-webkit-inner-spin-button,
.impressions-dropdown
    .dropdown-list
    ul
    li
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.virual-slip-wrapper ul.icons li a img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.impressions-dropdown a.close-btn {
    position: absolute;
    top: 5px;
    right: 3px;
    background: #fff;
    display: inline-block;
    padding: 0px 12px;
}

.inner-checkbox {
    height: 1px;
    width: 1px;
    margin-right: 1px;
    opacity: 0;
    display: none;
}

.inner-checbox-label {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.add-one-upper-container {
    position: relative;
}

.select-add-one-upper-side {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    z-index: 99;
}

.select-add-one-upper-side .c-modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.slip-view-wrapper .modal-header {
    padding: 10px;
}

.slip-view-wrapper .back-btn {
    padding: 5px !important;
    font-size: 12px;
    min-width: 5vw;
}

.slip-view-wrapper .back-btn.red-btn {
    background: radial-gradient(
        circle,
        #ee0202 0%,
        rgba(250, 3, 3, 1) 0%,
        rgba(192, 2, 2, 1) 100%
    );
}
.slip-view-wrapper .back-btn.green-btn {
    background-color: #8bc34a;
}

.slip-view-wrapper .back-btn.gray-btn {
    background: radial-gradient(
        circle,
        rgb(67 62 62) 0%,
        rgb(90 90 90) 0%,
        rgb(80 77 77) 100%
    );
}

.slip-view-wrapper .back-btn.blue-btn {
    border: 1px solid #2a78cf !important;
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-color: transparent;
}

.bottom-btn-group ul,
.bottom-btn-group ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    flex: 1 1 auto;
}

.bottom-btn-group ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

.bottom-btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-btn-group i {
    font-size: 24px;
}

.slip-view-wrapper .header-flex .com .list-unstyled li span,
.slip-view-wrapper .add-product span {
    font-size: 14px;
}

#upper_model .selectize-control.single .selectize-input:after,
#lower_model .selectize-control.single .selectize-input:after {
    opacity: 0;
}

.remove-btn-slip {
    display: inline-block;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c50e0e;
    border-radius: 5px;
    background: radial-gradient(
        circle,
        #7d0505 0%,
        rgb(197 14 14) 0%,
        rgb(138 34 34) 100%
    );
}

.remove-btn-slip i {
    color: #fff;
    font-size: 16px;
}

.stagenote-text-area {
    position: relative;
}

.stagenote-text-area .stage-title-bold {
    position: relative;
    width: 100%;
    padding-top: 0px;
    border: 1px solid #e4e6ef;
    border-bottom: 0px;
}

.stagenote-text-area .stagenote-bottom-btn {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0;
    padding-bottom: 5px;
}

.stagenote-text-area .stagenote-bottom-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: fit-content;
    border-radius: 5px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #a1a5b754;
}

.stage-title-bold .card-title {
    display: inline-block;
    margin: 0px;
}

.stage-title-bold .note-btn-group {
    height: 100%;
    width: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.stage-title-bold .note-btn-group li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #a1a5b754;
}
.stage-title-bold .note-btn-group li a i {
    font-size: 14px;
    color: #a1a5b7;
}

.stagenote-text-area .form-control {
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 0px;
}

.stagenote-text-area .form-control:focus {
    border-color: #e4e6ef;
}
.slip-view-wrapper .mr-20px {
    margin-right: 20px;
}

.view-slip-mid-row-line {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding: 0px;
}

.view-slip-mid-row-line li {
    list-style: none;
}

.view-slip-mid-row-line li.view-slip-mid-title {
    min-width: 200px;
    text-align: center;
}

.view-slip-mid-row-line li.view-slip-left-value,
.view-slip-mid-row-line li.view-slip-right-value {
    width: 250px;
}

.view-slip-mid-row-line li.view-slip-left-value {
    text-align: right;
}

.view-slip-mid-row-line li.view-slip-right-value {
    text-align: left;
}

.all-icon-model {
    width: 80%;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.all-icon-model .c-model-header {
    background-image: linear-gradient(
        to right,
        #0e66b1,
        #0e66b2 400px,
        #0e66b1 800px
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.all-icon-model .c-model-header h5 {
    margin: 0px;
    color: #fff;
}

.all-icon-model .c-model-header .close-model i {
    color: #000;
    font-size: 25px;
    text-shadow: 1px 1px 5px #fff;
}

.all-icon-model .model-label span {
    font-size: 12px;
}

.all-icon-model .model-btn {
    border: 1px solid #2a78cf !important;
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    font-size: 14px;
    min-width: 140px;
    padding: 5px;
    text-align: center;
}

.all-icon-model .model-btn.clear-sign {
    background-image: radial-gradient(
        circle,
        #ee0202 11%,
        rgba(250, 3, 3, 1) 26%,
        rgba(192, 2, 2, 1) 100%
    );
    border: 1px solid transparent !important;
}

/* .add-Case-model .teeth-wrapper .teeth-text .add-btn{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: 0.75rem;
    height: auto;
    top: unset;
} */

/* header end */

/* .lower-teeth-wrapper .circle-container img:hover,.upper-teeth-wrapper .circle-container img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
} */

.slip-view-wrapper .bottom-btn-group ul {
    justify-content: space-between;
}

.slip-view-wrapper .bottom-btn-group ul li {
    flex: unset;
}

.slip-view-wrapper .teeths-wrapper.second-row .inner-label {
    font-size: 0.8vw;
}

.slip-view-wrapper .header-flex .com .list-unstyled li span,
.slip-view-wrapper .add-product span,
.slip-view-wrapper .header-flex .com .list-unstyled li {
    font-size: 0.65vw;
}

.slip-view-wrapper .back-btn,
.slip-view-wrapper .add-btn {
    font-size: 0.65vw;
    width: auto;
    min-width: 5vw;
}

.slip-view-wrapper .add-case-listing .add-case-heder-ul li,
.slip-view-wrapper .add-case-listing .add-case-heder-ul li a,
.stagenote-text-area .stagenote-bottom-btn a {
    height: auto;
    font-size: 0.65vw;
}

.slip-view-wrapper .add-case-listing .add-case-heder-ul li a i,
.add-case-listing li i {
    font-size: 1.5vw;
}

.slip-view-wrapper .stagenote-text-area .form-control {
    height: 5vh;
}

.slip-view-wrapper .card-title,
.slip-view-wrapper .modal-title {
    font-size: 0.9vw;
}

.slip-view-wrapper .header-flex .left-header,
.slip-view-wrapper .header-flex .right-header {
    gap: 1vw;
}

.slip-view-wrapper .stagenote-text-area .stage-title-bold .note-btn-group li a {
    height: 2vh;
    width: 2vh;
}

.slip-view-wrapper .btn-close {
    height: 1vh;
    width: 1vh;
    background-size: 100%;
}

.slip-view-wrapper
    .stagenote-text-area
    .stage-title-bold
    .note-btn-group
    li
    a
    i {
    font-size: 0.65vw;
}

.c-slip-model {
    width: 2200px;
    max-width: 2200px;
}

/* virtual slip new deisgn */

.virual-slip-wrapper ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.virual-slip-wrapper .model-second-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px;
}

.virual-slip-wrapper .model-second-header .h-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.virual-slip-wrapper .model-second-header .com {
    margin: 0px;
    padding: 0px;
}

.virual-slip-wrapper .model-second-header .h-left .left-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px 20px;
}

.virual-slip-wrapper
    .model-second-header
    .h-left
    .left-header
    .list-unstyled
    li
    .li-title {
    display: inline-block;
    min-width: 100px;
    max-width: 200px;
    font-size: 12px;
}

.virual-slip-wrapper .model-second-header .h-right .icon-group a i {
    font-size: 25px;
}
.virual-slip-wrapper .model-second-header .h-right .icon-group a {
    display: inline-block;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.virual-slip-wrapper .model-second-header .h-right .icon-group li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.virual-slip-wrapper .back-btn {
    padding: 5px !important;
    font-size: 12px;
    min-width: 100px;
}

.virual-slip-wrapper .back-btn.red-btn {
    background: radial-gradient(
        circle,
        #ff0000 0%,
        rgba(250, 3, 3, 1) 0%,
        rgb(196 2 2) 100%
    );
}

.virual-slip-wrapper .back-btn.gray-btn {
    background: radial-gradient(
        circle,
        rgb(67 62 62) 0%,
        rgb(90 90 90) 0%,
        rgb(53 50 50) 100%
    );
}

.virual-slip-wrapper .back-btn.blue-btn {
    border: 1px solid #2a78cf !important;
    background-image: linear-gradient(
        to right,
        black,
        #0e66b2 400px,
        black 800px
    );
    background-color: transparent;
}

.virual-slip-wrapper .stagenote-bottom-btn a {
    height: 30px;
}

.virual-slip-wrapper .view-slip-mid-row-line li.view-slip-mid-title {
    min-width: 150px;
}

.virual-slip-wrapper .view-slip-mid-row-line li.view-slip-left-value,
.virual-slip-wrapper .view-slip-mid-row-line li.view-slip-right-value {
    border-bottom: 1px solid #eff2f5;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.virual-slip-wrapper .com li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eff2f5;
}

.virual-slip-wrapper .bottom-btn-group ul {
    gap: 0px;
}

/* .virual-slip-wrapper .font-table i{
    font-size: 15px;
} */

/* .virual-slip-wrapper table{
    overflow-x: auto;
    table-layout: fixed;
} */
/* .virual-slip-wrapper table td{
    padding: 5px;
} */

.tslip {
    width: 100%;
    background-color: #fff;
    margin: 0;
    border-spacing: 2px;
    border-collapse: separate;
    font-size: 1em;
    position: relative;
}

.tslip.bg-g-blue {
    background-image: linear-gradient(
        to right,
        #1b4b75,
        #0e66b2 400px,
        #1b4b75 2500px
    );
    background-repeat: no-repeat;
}

.virual-slip-wrapper .modal-content table th {
    font-weight: 700;
    color: #480000;
    font-size: 12px;
}

.virual-slip-wrapper .modal-content table td {
    font-weight: 500;
    color: #000;
    font-size: 12px;
}

.virual-slip-wrapper .inner-label,
.virual-slip-wrapper .add-btn {
    font-size: 1em !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.virual-slip-wrapper .inner-label {
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
    padding: 0px;
}

.virual-slip-wrapper .teeth-svg {
    height: auto;
    padding: 0px;
}

.virual-slip-wrapper .back-btn {
    font-size: 1em !important;
    /* padding: 2px!important; */
    font-weight: normal;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    border: 1px solid #fff !important;
}

.left-header .add-case-heder-ul.borded-li li .selectize-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-model-wrapper .galleryimg .mained {
    width: 100%;
}

.tslip.bg-g-blue .bottom-btn-group img {
    width: 85px;
    height: auto;
    display: table;
    vertical-align: middle;
}

.tslip.driver-inner-model th,
.tslip.driver-inner-model td {
    white-space: normal;
    word-break: break-all;
}

.tslip.driver-inner-model .font-bold {
    font-weight: bold;
}

.signature-font {
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-size: 18px;
}

.signature-input {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}
.signature-input:focus {
    outline: none;
}

.dropzone .dz-message {
    justify-content: center;
}

/* virtual slip new deisgn end*/

/* cen */
.cen-section {
    position: absolute;
    top: 50%;
    left: 2%;
    font-size: 24px;
    height: auto;
    width: 440px;
    color: #f71e1e;
    border: 1px solid #f71e1e;
    box-shadow: 1px 1px 5px #0000001c;
    border-radius: 0px;
    text-transform: uppercase;
    margin: 0px;
    transform: rotate(-25deg);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    font-weight: bolder;
    backdrop-filter: blur(0.7px);
    z-index: 10;
}
.cen-section.lower {
    left: unset;
    right: 0%;
}


.can-section.full{
    transform: rotate(0deg)!important;
    width: 100%;
        top: 30%;
        text-align: center;
}




/*================ slip table=================== */
.new-table tr,
.new-table td {
    white-space: nowrap !important;
    overflow: visible;
}

.new-table span.normal-font {
    color: #000;
    font-weight: 300;
}


    .connected-btn{
    font-size: 1em !important;
    /* padding: 2px!important; */
    font-weight: normal;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    border: 1px solid #fff !important;
        padding: 5px !important;
    font-size: 12px;
    border-radius: 5px;
    min-width: 100px;
    display: inline-block;
       background: radial-gradient( circle, #43d903 0%, rgb(101 167 45) 0%, rgb(64 131 23) 100% );
       color: #fff;
}
    .connected-resend-btn{
    font-size: 1em !important;
    /* padding: 2px!important; */
    font-weight: normal;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    border: 1px solid rgb(67 62 62) !important;
        padding: 5px !important;
    font-size: 12px;
    border-radius: 5px;
    min-width: 100px;
    display: inline-block;
       background: radial-gradient(
        circle,
        rgb(67 62 62) 0%,
        rgb(90 90 90) 0%,
        rgb(53 50 50) 100%
        );
       color: #fff;
}

.connected-resend-btn:hover{
    color: #fff;
}
    .connected-reconnect-btn{
    font-size: 1em !important;
    /* padding: 2px!important; */
    font-weight: normal;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    border: 1px solid #0e66b2 400px, !important;
        padding: 5px !important;
    font-size: 12px;
    border-radius: 5px;
    min-width: 100px;
    display: inline-block;
       background: linear-gradient(
        to right,
        #0e66b2,
        #0e66b2 400px,
        #0e66b2 800px
    );
       color: #fff;
}

.connected-reconnect-btn:hover{
    color: #fff;
}

.connected-btn.hold-btn{
        background: radial-gradient( circle, #ff0000 0%, rgba(250, 3, 3, 1) 0%, rgb(196 2 2) 100% );
}

.connected-btn:hover{
    color: #fff;
}

.connected-check{
    font-size: 15px;
}

.connected-check i {
    color: #65a72d;
    font-size: 25px;
}

.header-fixed .header{
    z-index: 9;
}