@media only screen and (min-width: 992px) {
    .header-fixed.toolbar-fixed .wrapper {
        padding-top: calc(25px + var(--kt-toolbar-height));
    }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}

/* @media only screen and (max-width: 4000px) {
    .slip-view-wrapper .header-flex .com .list-unstyled li span,
    .slip-view-wrapper .add-product span {
        font-size: 100%;
    }
} */

@media only screen and (max-width: 2560px) {
    .c-slip-model {
        width: 1850px;
        max-width: 1850px;
    }
}

@media only screen and (max-width: 1920px) {
    .c-slip-model {
        width: 1550px;
        max-width: 1550px;
    }
    .slip-view-wrapper .view-slip-mid-row-line li.view-slip-mid-title{
        min-width: 10vw;
    }


    

}

@media only screen and (max-width: 1800px) {
    .slip-view-wrapper .back-btn {
        min-width: 100px;
    }
}

@media only screen and (max-width: 1600px) {
    .bottom-btn-group ul {
        gap: 5px;
    }

    .slip-view-wrapper .back-btn {
        min-width: fit-content;
    }

    .c-slip-model {
        width: 1450px;
        max-width: 1450px;
    }

     
    .virual-slip-wrapper .bottom-btn-group ul{
        flex-wrap: nowrap;
    }
    .virual-slip-wrapper .back-btn{
        font-size: 10px;
    }
}

@media only screen and (max-width: 1399px) {
    .table-header-center {
        justify-content: center !important;
    }

    .header-flex .com .list-unstyled li span:first-child {
        min-width: 50px;
    }
    .header-flex .com .list-unstyled li span,
    .add-product span {
        font-size: 10px;
    }
    .slip-view-wrapper .teeths-wrapper.second-row .inner-label,
    .slip-view-wrapper .back-btn {
        font-size: 10px;
    }

    .slip-view-wrapper .header-flex .com .list-unstyled li span,
    .slip-view-wrapper .add-product span {
        font-size: 13px;
    }
    .teeth-wrapper .teeth-svg {
        height: 160px;
    }
    .c-slip-model {
        width: 95%;
        max-width: 95%;
    }


    .virual-slip-wrapper .back-btn{
        font-size: 9px;
    }


}

@media only screen and (max-width: 1199px) {
    .slip-view-wrapper .teeth-wrapper .teeth-text .add-btn {
        top: -30px;
    }

    .c-row-text .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .view-slip-mid-row-line li.view-slip-mid-title {
        min-width: 150px;
    }

    .bottom-btn-group .col-xl-5,
    .bottom-btn-group .col-xl-2 {
        width: max-content !important;
    }

    .stagenote-text-area .stage-title-bold .card-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1040px) {
}

@media only screen and (max-width: 991px) {
    .footer {
        width: 100%;
    }
    .view-slip-mid-row-line li.view-slip-mid-title {
        min-width: 105px;
    }
    .view-slip-mid-row-line li.view-slip-left-value,
    .view-slip-mid-row-line li.view-slip-right-value {
        width: auto;
    }
    .view-slip-mid-row-line {
        justify-content: space-between;
    }
    .slip-view-wrapper .header-flex .com .list-unstyled li span,
    .slip-view-wrapper .add-product span {
        font-size: 10px;
    }

    .bottom-btn-group ul li .back-btn {
        min-width: auto;
    }

    .add-btn {
        width: max-content;
        min-width: max-content;
    }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
    .login-form .card {
        width: 350px;
    }
    .login-form .link-link {
        text-align: center;
        display: block;
    }
    .login-form .link-link .for {
        margin: 5px 0;
    }
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 360px) {
    .login-form .card {
        width: 300px;
    }
}

@media only screen and (max-width: 320px) {
}
